<html lang="en">
<%- include("./partials/header.ejs")%> 

<body>
  <form action="" method="post">
    <div  class="container">
      <div class="profile">
        <div class="img"></div>
        <h2><%- first_name + ' ' + last_name + ' ' +  middle_name %></h2><br>
        <h5>position: <%- position %></h5>
        <h5>email: <%- email %></h5>
        <h5>joined company: <%- joined_date %></h5> <br><br>
        <%
        if(photo){
        %>
        <img src="/<%=photo%>" width="700px" id="photoImage">
        <%  }
        else{%>
          <p>No photo</p>
        <%} %><br>
        <button class="btn btn-outline-success" name="button_dashboard" value="edit_user" type="submit">Edit profile</button>
        <button class="btn btn-outline-success" name="button_dashboard" value="create_request" type="submit">Create vacation</button>
        <button class="btn btn-outline-success" name="button_dashboard" value="vacation_list" type="submit">Vacation List</button><br><br>
        <a href="/logout">logout</a>
      </div>
    </div>
  </form>
<%- include("./partials/footer.ejs") %> 
</body>
</html>